body {
  font-family: $font_family;
}

h1 {
  font: $font_xl;
}

h2 {
  font: $font_lg;
}

h3 {
  font: $font_md;
}

p {
  font: $font_normal;
}

span {
  font: $font_normal;
}

a {
  text-decoration: none;
}
