@use "../mixins/media-query";

.introduction {
  width: 100%;
  display: flex;
  padding: $space_xxl;
  position: relative;

  &_container {
    width: 100%;
    overflow: visible;
    background-color: $primary;
    padding: $space_md;
    border-radius: 1rem;
    position: relative;
    height: 115px;

    &_image {
     
    }
  }
  &__image {
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid $primary;
    box-sizing: content-box;
    position: absolute;
    top: -1.5rem;

    img {
      width: 100%;
    }
  }
}
