.introduction {
  width: 100%;
  position: relative;
  display: flex;

  &__image {
    width: 30%;
  }

  &__heading {
    width: 70%;
    padding: $space_md $space_md $space_md $space_xxl;
    background-color: $dark_1;
    height: fit-content;
    display: flex;
    align-items: center;

    &__name {
      color: $shade_1;

      &::after {
        content: "/";
        margin-left: $space_md;
      }
    }

    &__position {
      color: $shade_2;
      margin-left: $space_md;
    }
  }
}
