.navigation {
  width: 100%;

  &__list {
    display: flex;

    &__item {
      width: 25%;

      &:first-child {
        background-color: $c_1;
      }

      &:nth-child(2) {
        background-color: $c_2;
      }

      &:nth-child(3) {
        background-color: $c_3;
      }

      &:last-child {
        background-color: $c_4;
      }

      a {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;
        padding: $space_lg $space_lg;
        color: $shade_1;
        font-weight: 500;
        position: relative;

        span {
          position: relative;
          transition: all 400ms ease;

          &::after {
            content: " ";
            position: absolute;
            background-color: $shade_1;
            left: 0px;
            max-width: 0%;
            width: 0%;
            bottom: 0px;
            height: 3px;
            opacity: 0;
            transition: all 400ms ease;
          }
        }

        &:hover {
          span {
            margin-top: -5px;
            &::after {
              opacity: 1;
              width: 100%;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
